@model ProjetoES2.Entities.Projeto

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Tem a certeza que quer eliminar este projeto e todas as suas tarefas?</h3>
<div>
    <h4>Projeto</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeCliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeCliente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrecoHora)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrecoHora)
        </dd>
        
        
    </dl>
    
    <form asp-action="delete">
        <input type="hidden" asp-for="IdProjeto" />
        <input type="submit" value="Apagar" class="btn btn-danger" /> |
        <a asp-action="Index">Voltar</a>
    </form>
</div>